<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Mall Analytics</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/assets/css/main.css" />
	<!--import lib-->
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<!-- Scripts -->
	<script src="/static/assets/js/jquery.min.js"></script>
	<script src="/static/assets/js/jquery.scrolly.min.js"></script>
	<script src="/static/assets/js/jquery.scrollex.min.js"></script>
	<script src="/static/assets/js/skel.min.js"></script>
	<script src="/static/assets/js/util.js"></script>
	<script src="/static/assets/js/main.js"></script>
	
</head>

<body>

	<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Mall<span>-Analytics</span></a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<!--TO BE CHANGED AS SOON AS TESTING IS OVER-->
			<li><a href="index.html">Home</a></li>
			<li><a href="ffanalysis.html">Dashboard</a></li>
			<li><a href="visitorcount.html">Visitors Count</a></li>
			<li><a href="visitorlocation.html">Visitors by Location</a></li>
			<li><a href="interactivefull.html">Interactive Plans</a></li>
			<!-- <li><a href="floorplan.html">Floor Plan</a></li> -->
			<!-- <li><a href="login.html">Login</a></li> -->
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<h1>Mall-experience</h1>
				<p>It's time to grow your business</p>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">

		<!-- Section -->
		<section class="wrapper style1">
			<div class="inner">
				<header class="align-center">
					<h2>How we help</h2>
				</header>
				<div class="flex flex-3">
					<div class="col align-center">
						<div class="image round fit">
							<img src="static/images/public.png" alt="" />
						</div>
						<h4>For the Public</h4>
						<p>Navigation<br>Parking Assistant<br>Deals of the Day<br>Proximity Ads </p>
						<a href="./public.html" class="button">Learn More</a>
					</div>
					<div class="col align-center">
						<div class="image round fit">
							<img src="static/images/stores.png" alt="" />
						</div>
						<h4>For the Stores</h4>
						<p>Visitor analytics<br>Marketing and ads<br>Proximity ads </p>
						<a href="stores.html" class="button">Learn More</a>
					</div>
					<div class="col align-center">
						<div class="image round fit">
							<img src="static/images/mall.png" alt="" />
						</div>
						<h4>For the Malls</h4>
						<p>In-depth analysis of the visitors<br>Visitor Count Analysis<br>Store Visit Pattern<br>Heat
							Map </p>
						<a href="mall.html" class="button">Learn More</a>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
			</ul>
			<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
					href="https://unsplash.com">Unsplash</a>.</p>
		</div>
	</footer>


</body>

</html>