<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Malls</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Mall<span>-experience</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="public.html">For the Public</a></li>
            <li><a href="stores.html">For the Stores</a></li>
            <li><a href="mall.html">For the Malls</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>For the Malls</h1>
                </header>
                <div class="flex flex-2">
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/mallanalysis.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>In-depth analysis of the visitors</h3>
                        <p>Know exactly who enters your mall and what they do in there. This app will give you an in-depth analysis of users like People Counting, Heat Maps, what Stores they Visit and their Gender and Age Grouping</p>
                    </div>
                </div>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Visitor Count Analysis</h3>
                        <p>To get a better understanding of how many people exactly visit your establishment on each day, you’ll be given a Visitor Count Analysis feature. They will be sorted in terms of age and gender.</p>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/market.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Store Visit Pattern</h3>
                        <p>Learn who visits which store and what they do in there. We will also analyse the amount of time each customer spends in a store.</p>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/pattern.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
                    href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/skel.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>

</html>