<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Public</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">Mall<span>-experience</span></a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="public.html">For the Public</a></li>
            <li><a href="stores.html">For the Stores</a></li>
            <li><a href="index.html">For the Malls</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>For the Public</h1>
                </header>
                <div class="flex flex-2">
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/navigation.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>Navigations</h3>
                        <p> How much time do you typically waste in finding a store and then finding the right entrance
                            to it. With this app, you can avail reliable navigational assistant meaning a lot more time
                            for shopping and a lot less for searching. </p>
                    </div>
                </div>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Parking Assistant</h3>
                        <p>If you’ve driven to a mall, you’d know the struggle that it is to find an empty parking spot
                            and then finding your way into the mall after that. Our interface will allow you to access
                            exactly where there are empty parking spots. It will also guide you to the nearest
                            entry/exit.
                        </p>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/parking.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-2">
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/deal.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>Deals of the Day</h3>
                        <p>Get to know which of your favourite stores has deals and offers put up for
                            that day. You don’t even have to go to the stores to know what types of deals are available
                            in what stores. Find it all right here on our app.</p>
                    </div>

                </div>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Proximity Ads</h3>
                        <p>Want to know what all your options are? Get targeted ads based on where you are in the mall and see all the stores near you.</p>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="static/images/ads.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
                    href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/skel.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>

</html>